<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="如家棋牌室_TCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <如家棋牌室_TCP.Properties.Settings>
            <setting name="如家棋牌室_TCP_cn_woxp_gateway_WebSMS" serializeAs="String">
                <value>http://gateway.woxp.cn:6630/gb2312/ws_api/WebSMS.asmx</value>
            </setting>
        </如家棋牌室_TCP.Properties.Settings>
    </applicationSettings>
</configuration>
